body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:white;
  font-size: 18px;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.pikachu{
  background-image: url('src/pikachu.gif');
  height: 120px;
  width: 120px;
  background-size: cover;
  

  position:absolute;

}

.pikachu:hover {
  transform: rotate(90deg)
}

.turtle {
  background-image: url('src/Turtle.gif');
  height: 120px;
  width: 120px;
  background-size: cover;
  position: absolute;
}